@use "reset";
@use "styles/variables/colors" as *;
@use "styles/mixins/index" as *;

@include font-face("FiraCode", 300);
@include font-face("FiraCode", 400);
@include font-face("FiraCode", 500);
@include font-face("FiraCode", 600);
@include font-face("FiraCode", 700);

body {
  padding: $space-5;

  background-color: $slate-950;

  font-family: "FiraCode", sans-serif;

  @include flex-col;

  min-height: 100dvh;

  @media (min-width: 576px) {
    padding: $space-7;
  }
}

.container {
  padding: 0 $space-6;

  width: 100%;

  @media (min-width: 576px) {
    max-width: 540px;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 $space-5;
  }

  @media (min-width: 992px) {
    max-width: 960px;
    margin: 0 auto;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
    margin: 0 auto;
  }
}
